
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #eef2f7;
    background-image: url('image5.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #0066cc; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background: #004c99; 
}

header {
    text-align: center;
    padding: 50px 20px;
    background: #0066cc; 
    color: #fff;
}

header h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    background: #ff9933; 
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background 0.3s ease-in-out;
}

.cta-button:hover {
    background: #e68a00; 
}

main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 30px auto;
}

h2 {
    color: #0066cc;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.highlight-section {
    margin-top: 30px;
}

.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 30px;
    background-color: #137feb;
    color: #f3f4f5;
    margin-top: 50px;
}

footer a {
    color: #ecf0f4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.4em;
    }

    header p {
        font-size: 1.1em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

